@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-green: #AFE1AF;
    --primary-yellow: #F9E79F;
}

.green {
    color: var(--primary-green);
}

body {
  margin: 0;
  font-family: Kanit, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 3rem;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-image: linear-gradient(45deg, var(--primary-green) 0%, var(--primary-yellow) 100%);
    color: #000;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Kamit', sans-serif;
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--primary-green);
    color: var(--primary-green);
}

@media screen and (max-width: 940px) {
    h2 {
        font-size: 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }
}


@media screen and (max-width: 495px) {
    h2 {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }
}
